@import "index";

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controls {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 1rem;
  border: 1px solid #333;
  z-index: 10;
  height: 8rem;
  background: #111;
  color: #eaeaea;
}
